<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070411965172-uehqi1njhvk67ho3gsq9dcfr8cifa5kf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070411965172-uehqi1njhvk67ho3gsq9dcfr8cifa5kf</string>
	<key>API_KEY</key>
	<string>AIzaSyDLlQDnWZeRcj47ju1aCdGF87r_h8V6jrI</string>
	<key>GCM_SENDER_ID</key>
	<string>1070411965172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaelenterprise.instagram</string>
	<key>PROJECT_ID</key>
	<string>insta-4a052</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-4a052.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070411965172:ios:405827e1d23384488cf4a1</string>
</dict>
</plist>